
body{

	background-image: url("../imagenes/f2.jpg");
	background-color: black;
	background-repeat: repeat;

	font-family: 'Alfa Slab One', cursive;
	color: grey;
}



.pj1{
	width: 50%;
	margin-left: 0%;
}

.pj{
	width: 100%;
	margin-left: 0%;
}



a.desplegable:hover{
	background-color: white;
	

}

nav a:hover{
	color: green;
}

p a img{
	width: 75%;
	margin-left: 10%;
	margin-right: 0%;
	margin-bottom: 3%;
	padding-top: 2%;

}

#curiosidades{
	margin-top: 5%;
	
}
#curiosidades2{
	background-color: black;
	
}

section.asd{
	display: flex;
	justify-content: safe center;


}

article{
	background-color:transparent;
	display: inline-block;
	

}

#mosca{
	width: 21.25%;
	border-width: 00%;
	border-color: darkred;
	float: left;
	margin-left: -3%;
	

}

h3{
	font-size: 400%;
}
h1{
	color: whitesmoke;
	background-color: black;
	margin-left: 15%;
	text-decoration: underline;
	font-family: cursive;
	font-size: 300%;
	width: 60%;
	padding-left: 0%;
	margin-top: 3%;
	margin-bottom: 5%;
	
}

header{
	background-color: yellow;
	background-image: url("../imagenes/fondohead2.jpg");
	
	background-size: initial;

	
	
}

h1.hea{
	font-size: 300%;
	
	color: white;
	text-decoration: underline;

}

nav#menu{
	background-color: black;
	color: black;
	font-family: cursive;
	margin-left: -3%;
	padding-top: 1%;
	font-size: 130%;
	display: flex;
	

	
}

h3{
	color: transparent;
}
a{
	color: white;
}


div a{
	color: lightblue;
}

div a:hover{
	color: green;
}

aside.foto{
	margin-left: 0%;

}


div#espacio{
 	padding: 5%;
}

p#main{

	width: 95%;
	margin-bottom: 10%;
	margin-left: 0%;
	margin-top: 5%;
	font-size:150%;
	background-color: black;
	
	
}

footer{
	margin-top: 2%;
	background-color: black;
	background-position: top;


}

h2{
	
	padding-top: 0%;
	font-family: cursive;
	font-size: 200%;
	color: whitesmoke;
	background-color: black;
	margin-left: 5%;
	margin-right: 5%;

}


.margen{
	margin-left: 15%;
	margin-right: 15%;
	padding-bottom: 1%;
	padding-left: 2%;
	color: white;	
}
.margenheader{
	margin-left: 15%;
	margin-right: 15%;
	padding-bottom: 1%;
	padding-left: 2%;
	color: white;	
	
}

.margen2{
	margin-left: 30%;
	margin-right: 15%;
	padding-bottom: 1%;
	padding-left: 2%;
	margin-top: 3%;
	color: white;	
}
.margengaleria{
	margin-left: 22%;
	margin-right: 15%;
	padding-bottom: 1%;
	padding-left: 2%;
	margin-top: 3%;
	color: white;	
}

ul{
	display: none;
	
}




footer.margen{
	margin-left: 13%;
	display: inline-block;
	
	font-size: 140%;
}
.textofoto{
	
	margin-left: 2%;
	margin-right: 5%;
	background-color: black;
	width: 70%;
	padding-bottom: 1%;
	
}


#head{
	padding-bottom: 0%;

}

.menus{
	padding: 3%

}
#footer{
	margin-left: 35%;
	padding-left: 1%;
	padding-right: 2%;
}


.formularios{
	display: block;
	margin-top: 2%;
	background-color: ;

}


.inline{
	
	
	margin-bottom: 5%;
	margin-top: 5%;
}

ul {
    list-style: none;
}

.fondonegro{
	background-color: black;
}

.centrado{

	margin-left: 35%;
}